body{
    background-color: black;
    margin:0px;
    perspective-origin:top left;
    perspective: 800px;
    /* backface-visibility:hidden; */
    transform-style: preserve-3d;

}
.box{
    width:250px;
    height:250px;
    background-color: blue;
    /* opacity: 0.5; */
    border:2px solid white;
    position: absolute;
    top:300px;
    left:300px;
}

.right{
    background-color: aqua;
    position: absolute;
    left:430px;
    transform:rotateY(90deg)
}
.left{
    background-color: green;
    position: absolute;
    left:170px;
    transform:rotateY(90deg)
}
.back{
    background-color: orange;
    transform: translateZ(-100px);


}
.front{
    background-color:teal;
    transform: translateZ(120px);
    /* clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 76% 74%, 25% 75%, 25% 100%, 100% 100%, 100% 0%); */

}
.top{
    background-color: blueviolet;
    position: absolute;
    top:180px;
    transform: rotateX(89deg);
}
.bottom{
    background-color: aquamarine;
    position: absolute;
    top:0px;
    top:420px;
    transform: rotateX(89deg);
}


@keyframes animation{
    0%{

    }
}

