
.div1{
    height: 100px;
    margin-left: 50px;
    margin-top: 100px;
    animation-name: block;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
.div2{
    height: 100px;
    margin-left: 50px;
    margin-top: 100px;
    animation-name: block;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}
.div3{
    height: 100px;
    margin-left: 50px;
    margin-top: 100px;
    animation-name: block;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}
.div4{
    height: 100px;
    margin-left: 50px;
    margin-top: 100px;
    animation-name: block;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.div5{
    height: 100px;
    margin-left: 50px;
    margin-top: 100px;
    animation-name: block;
    animation-duration: 10s;
    width:1000px;
    background-color: yellow;
    animation-iteration-count: 1;
    animation-timing-function:steps(4);
    
}
.div6{
    height: 100px;
    margin-left: 50px;
    margin-top: 100px;
    animation-name: block;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
}
@keyframes block{
    0%{
        background-color: green;
        width:0px;
    }
    /* 30%{
        background-color: orange;
        width:300px;
    }
    70%{
        background-color: blue;
        width:700px
    } */
    100%{
        background-color: yellow;
        width:1000px;
    }
}

/* h1{
    text-align: center;
    animation-name: heading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes heading{
    0% {
        color:green
    }
    10% {
        color:pink;
    }
    20%{
        color:aqua
    }
    30%{
        color:red
    }
    40%{
        color:brown
    }
    50% {
        color:green
    }
    60% {
        color:rgb(245, 27, 63);
    }
    70%{
        color:rgb(150, 220, 220)
    }
    80%{
        color:rgb(0, 255, 102)
    }
    90%{
        color:rgb(42, 93, 165)
    }
    100%{
        color:greenyellow
    }
} */

/* .container1{
    width:200px;
    height:200px;
    background-color: black;
    margin-top: 100px;
    margin-left: 300px;
    animation-name: animation;
    animation-duration: 15s;
    animation-iteration-count: 1;
}
.container2{
    width:200px;
    height:200px;
    background-color: blue;
    margin-top: 100px;
    margin-left: 300px;
    animation-name: animation;
    animation-duration: 5s;
    animation-iteration-count: 10;

}

@keyframes animation{
    from {
            background-color: brown;
            
        }
    to { background-color: orange;
        width:400px;
        height:400px;
    }
} */
