
div{
    width:400px;
    height:400px;
    background: repeating-linear-gradient(315deg, #00FFFF2E 92%, #073AFF00 100%),repeating-linear-gradient(300deg, #0dff002e 92%, #073AFF00 100%),repeating-linear-gradient(250deg, #ffc4002e 92%, #073AFF00 100%);
    /* background: conic-gradient(from 45deg at 20% 80% , blue 25% , black 27%, yellow 30% ); */
}

/* div{
    width:0px;
    height:100px;
    background: rgb(87,214,35); */
    /* background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); */
    /* background: radial-gradient(circle, rgba(87,214,35,1) 0%, rgba(61,92,225,1) 34%, rgba(190,147,37,1) 48%, rgba(236,34,86,1) 76%); */
    /* background: conic-gradient(red, green , blue);
    animation-name: boxanim;
    animation-duration: 5s;
    animation-timing-function:cubic-bezier(0.18,-1.22, 0.33, 1.47);
    animation-iteration-count: infinite ;
    animation-delay: 5s;
    animation-direction:normal;

    
} */
/* div:hover{
    animation-play-state: paused;
}

@keyframes boxanim{
    0% { 
        
         width:0px;
        }

    100% {
       
         width:1000px;
    }
} */

