.parentbox{
    display: flex;
    flex-direction: row;
    width:1100px;
    height:800px;
    flex-wrap: wrap;
    justify-content:space-between;
    /* justify content works with main axis */
    /* align-items: center; */
    /* align items works with cross axis */
    align-content:start;
    border:10px solid black;
}
.box{
    width: 200px;
    height:200px;
}

.box1{
    background-color: red;
}
.box2{
    background-color: blue;
}
.box3{
    background-color: violet;
}
.box4{
    background-color: greenyellow;
}