.container{
    border:5px solid green;
    width:400px;
    height:500px;
    border-radius: 20px;
    display: inline-block;
    margin:20px;
  
}

#image1{

    float:left;
}
#box1{
    margin-top: 200px;
    height:700px;
}

#box2{
    vertical-align: bottom;
    /* vertical-align: baseline; */
    /* vertical-align: middle; */
    /* vertical-align: top; */
}

/* .spanele{
    display:block;
    height:100px;
    width:100px;
    border:10px solid black;
}
.blockele{
    display: inline;
    width:200px;
    height:100px;
    border:10px solid black;
} */