.section2container{
    display: flex;
    width:80vw;
    margin:auto;
    border:5px solid black;
}
.leftcontainer{
    width:70%;
    display: flex;
    flex-direction: column;

}
.article{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border:5px solid black;
}
.article img{
    width:15%;
    
}
.article>div{
    width:55%;
}
.rightcontainer{
    width:40%;
}

.article2 img{
    width:20%;
    display: block;
    margin:auto;
}
*{
    margin:0px;
}

#barsicon{
    display: none;
}
.header_container{
    height:100px;
    /* width:100%; */
    border:10px solid black;
}
.header_list{
    /* border:5px solid black; */
    padding: 0px;
    height:100px;
    display:flex; 
    list-style: none;
    justify-content: center;
    gap:20px;
    font-size: 20px;
    align-items: center;
}

.container1{
    width:60vw;
    border:5px solid black;
    margin:auto;
    display: flex;
}
.imgContainer2{
    display:flex;
    flex-direction: column;
    width:40%;
}
.img1container{
   
    width:60%;
    height:50vh;
    background-repeat: no-repeat;

    background-size:contain;
    background-image: url("https://images.unsplash.com/photo-1503023345310-bd7c1de61c7d?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aHVtYW58ZW58MHx8MHx8fDA%3D");
}
.img2container{
    background-image: url("https://buffer.com/library/content/images/size/w1200/2023/10/free-images.jpg");
    height: 50%;
    width:100%;
    background-repeat: no-repeat;

    background-size:cover;
    /* background-size: 100%; */
}
.img3container{
    background-repeat: no-repeat;

    background-size:cover;
    height: 50%;
    width:100%;
    /* background-size: 100%; */
    background-image: url("https://images.unsplash.com/photo-1541963463532-d68292c34b19?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHx8fA%3D%3D");
}
@media screen and (max-width:500px) {

    .section2container{
        flex-direction: column;
    }
    .leftcontainer{
        width:100%;
    }
    .article >img{
        width:100%;
    }
    .article>div{
        display: none;
    }

    .container1{
        /* display: flex; */
        flex-direction: column;
    }
    .imgContainer2{
        width:100%;
    }
    .img1container{
        width:100%;
        background-color: black;
        opacity: 0.5;
    }
    .img1container:hover{
        opacity: 1;
    }
    .img2container{
        width:100%;
        height:50vh;   
    }
    .img3container{
        width:100%;
        height:50vh; 
    }


    .header_container{
        /* height:100px;
        width:100%; */
        background-color: aqua;
    }
    .header_list{
        display: none;
    }
    #barsicon{
        display:block;
        margin-top: 40px;
        margin-left: 50px;
    }
}

@media screen and (min-width:500px) and (max-width:800px) {


    .section2container{
        flex-direction: column;
    }
    .leftcontainer{
        width:100%;
     
    }
    .article{
        height: 700px;
    }
    .article >img{
        width:70%;
        
        position: absolute;
        z-index: -1;
    }
    .article>div{

        /* position: relative;
        width:100%;
        top:100px; */
    }
    .container1{
        /* display: flex; */
        flex-direction: column;
    }
    .img1container{
        width:100%;
    }
    .imgContainer2{
        width:100%;
    }
    .img2container{
        width:100%;
        height:50vh;   
    }
    .img3container{
        width:100%;
        height:50vh; 
    }
    .header_container{
        /* height:100px;
        width:100%; */
        background-color: red;
    }
}
@media screen and (min-width:800px) {
    .img1container{
        width:100%;
        /* background-color: black;
        opacity: 0.5; */
        background-size: 100%;
        filter:brightness(50%);
        background-position: center;
    }
    .img1container:hover{
        /* opacity: 1; */
        background-position: center;
        background-size: 120%;
        filter:brightness(100%);
        transition: 1s;
    }
    .header_container{
        /* height:100px;
        width:100%; */
        color:white;
    
        background-color:black;
    }
    .header_list{
            gap:70px;
    }

}