.container1{
    background-color: rgb(137,199,74);
    height:5vh;
    color:white;
    padding-top: 3vh;
}

a{
    color:inherit;
    text-decoration: none;;
}
a:hover{
    color: blue;
}

.icon{
    margin-left: 1vw;
   
}
.container2{
    border:10px red solid;
}
nav{
    /* margin-bottom:5vh; */
    vertical-align: middle;
    display: inline-block;
    margin-left: 15vw;
    border:1px solid black;
    font-family: lemonada;

}

.nav__span{
    margin-left: 2vw;
}

.icon2{
    margin-left:1vw;
}


.input1, .input2{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;

    padding:5px 5px;
    font-size: 20px;
    font-family: lemonada;
    width:30vw;
    border:1px solid rgb(199, 199, 199);
}


.input2{
    width:50vw;
    padding-left:40px;
    padding-right: 100px
}

.input2:focus{
    border:none;
    outline:1px solid yellow;
}

.internalContainer1{
    border:5px solid black;
    height:90vh;
    background-color: green;
    background-image: url("../images/slider-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}
.internalContainer1__div{
   
    margin-left: 50vw;
    margin-top: 18vh;  
    font-size: 30px; 

}

.internalContainer1_button{
    padding:10px 15px;
    font-size: 25px;
    border:none;
    color:white;
    border-radius: 20px;
    background-color: rgb(73, 228, 81);
}
.internalContainer2{
    text-align: center;
    
    color:white;
}
.internalContainer2_div{
    display: inline-block;
    width:40vw;
    height:30vh;
    margin:40px 40px;
}

.div1{
   background-image: url("../images/img-1.jpg");

}

.div2{
    background-image: url("../images/img-2.jpg");
}
.shopnow{
    padding:10px 15px;
    font-size: 20px;
    color: inherit;
    background-color: green;
}

.shopnow:hover{
    background-color: orangered;
}